Pods/Pods.xcodeproj/xcuserdata/maciejoczko.xcuserdatad/xcschemes/Pods-AFNetworking.xcscheme
Pods/Pods.xcodeproj/xcuserdata/maciejoczko.xcuserdatad/xcschemes/Pods-PLCoreDataUtils.xcscheme
Pods/Pods.xcodeproj/xcuserdata/maciejoczko.xcuserdatad/xcschemes/Pods-PLVisualAttributeConstraints.xcscheme
Pods/Pods.xcodeproj/xcuserdata/maciejoczko.xcuserdatad/xcschemes/Pods-WorkshopDIProjectTests-Kiwi.xcscheme
Pods/Pods.xcodeproj/xcuserdata/maciejoczko.xcuserdatad/xcschemes/Pods-WorkshopDIProjectTests.xcscheme
Pods/Pods.xcodeproj/xcuserdata/maciejoczko.xcuserdatad/xcschemes/Pods.xcscheme
